/* Общие стили */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'EuclidCircularA-Regular', sans-serif;
  background-color: #AE97EB;
  margin: 0;
  padding: 20px;
  color: white;
  width: 100%;
}


/* Хедер */
.header {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;
}

.logo {
  font-family: 'LeMurmure-Regular', sans-serif;
  font-size: 45px;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-grow: 1;
  margin-right: 50%;
  margin-top: 4%;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Баннеры */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.banner-item {
  width: 340px;
  height: 1038px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.banner-item.active {
  width: 80%;
  position: relative;
}

.banner-item .img {
  position: absolute;
  width: 260px;
  height: 376px;
  transition: transform 0.3s ease-in-out;
}

.banner-item.active .img {
  transform: scale(2);
}

/* Стили для баннеров */
.banner-item:nth-child(1) {
  position: relative;
  flex-grow: 1;
  margin-right: auto;
  align-items: center;
  text-align: left;
  padding: 40px;
}

.banner-item.active:nth-child(1) {
  background: url('img/Benjamin.svg') no-repeat center center;
  background-size: contain;
}

.banner-item:nth-child(1) h2 {
  position: absolute;
  bottom: 22%;
  left: 40px;
  font-size: 28px;
  font-weight: 500;
}

.banner-item:nth-child(1) p {
  position: absolute;
  bottom: 12%;
  left: 40px;
  font-size: 15px;
  font-weight: 500;
  max-width: 300px;
}

.price {
  position: absolute;
  left: 3%;
  bottom: 5%;
}

.banner-item:nth-child(1) .buy-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: none;
  background: none;
}

.banner-item:nth-child(2) h2 {
  position: absolute;
  bottom: 20%;
  left: 40px;
  font-size: 28px;
  font-weight: 500;
}

.banner-item:nth-child(2) p {
  position: absolute;
  bottom: 12%;
  left: 40px;
  font-size: 15px;
  font-weight: 500;
  max-width: 300px;
}

.banner-item:nth-child(2) .buy-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: none;
  background: none;
}

.banner-item:nth-child(2) {
  background-color: #FA8FEF;
}

.banner-item.active:nth-child(2) {
  background: url('img/Paint.svg') no-repeat center center;
  background-size: contain;
  background-color: #FA8FEF;
}

.banner-item:nth-child(3) h2 {
  position: absolute;
  bottom: 20%;
  left: 40px;
  font-size: 28px;
  font-weight: 500;
}

.banner-item:nth-child(3) p {
  position: absolute;
  bottom: 12%;
  left: 40px;
  font-size: 15px;
  font-weight: 500;
  max-width: 300px;
}

.banner-item:nth-child(3) .buy-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: none;
  background: none;
}

.banner-item:nth-child(3) {
  background-color: #AECFFF;
}

.banner-item.active:nth-child(3) {
  background: url('img/Benjamin2.svg') no-repeat center center;
  background-size: contain;
  background-color: #AECFFF;
}

/* Анимация скрытия элементов при неактивном баннере */
.banner-item:not(.active) .prew,
.banner-item:not(.active) .price,
.banner-item:not(.active) .buy-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.banner-item.active .prew,
.banner-item.active .price,
.banner-item.active .buy-btn {
  opacity: 1;
  pointer-events: auto;
}

/* Стили для секции "Категории" */
.categories {
  text-align: center;
  padding: 50px 20px;
}

.categories-title {
  font-weight: 500;
  font-size: 60px;
  font-family: 'EuclidCircularA-Regular', sans-serif;
}

.categories-container {
  margin-top: -10%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}

.category-item {
  max-width: 250px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  background: none;
}

.category-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.category-name {
  position:relative;
  font-size: 18px;
  top:20%;
  right: 35%;
}

.category-toggle {
  position: relative;
  bottom: 30%; 
  left: -0.5%;
  transform: translateX(-50%);
  background: none;
  border: none;
}

.category-item .mirror {
  position: relative;
  width: 45%;
  bottom: 40%;
  left: 23%;
}

.category-item .plashka{
  position: relative;
  width: 20%;
  top: 22%;;
  left: 44%; 
  transform: rotate(-15deg); 
}

.category-toggle img {
  transition: filter 0.3s ease-in-out;
  width: 80%;
}

.category-toggle.active img {
  filter: hue-rotate(90deg);
}

/* раскрытие категорий  */
.category-products {
  margin-top: -10%;
  left: 0;
  position: absolute;
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;  
  gap: 180px;
  flex-wrap: wrap;
}

.product-title {
  font-weight: 500;
}

.product-price {
  font-weight: 400;
  white-space: nowrap;
}

.category-products.active {
  display: flex;
  opacity: 1;
  transform: translateY(10px); 
}

.product-item {
  background: none;
  max-width: 250px;
  min-width: 200px;
}

.product-item img{
  width: 45%;
}

.price-and-price {
  display: flex;
  justify-content: space-between;
}

.price-and-price .buy-btn {
  width: 90%;
  background: none;
  border: none;
}

/* Стили для модального окна корзины*/
#cartModal {
  display: none; 
  position: fixed;
  top: 0;
  left: auto;
  width: 30%; 
  height: 100%;
  background: linear-gradient(180deg, #FF8EC7 0%, #A4B4FF 100%);
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
  transition: right 0.4s ease-in-out;
  z-index: 1000;
}

#cartModal.active {
  right: 0; 
  display: block;
}

/* Стили для содержимого */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Стили для модального окна контакты  */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-contentcarts {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;  
  max-width: 700px;
  height: 500px; 
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
  z-index: 10; 
}

.close-btn:hover {
  color: red;
}

.map-container {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.lines {
  margin-top: 13%;
}

/* Стили для "Блога" */
.blog {
  position: relative;
  text-align: center;
  margin-top: 15%;
}

.paginator {
  position: absolute;
  top: -20%;
  left: 5%;
}

.blog-title {
  position: absolute;
  top: -40%;
  left: 10%;
  font-weight: 500;
  font-size: 60px;
  font-family: 'EuclidCircularA-Regular', sans-serif;
}

.slider-img {
  position: absolute;
  top: -22%;
  right: 4%;
}

/* Стили для слайдера */
.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/* Кнопки навигации */
.prev, .next {
  position: absolute;
  top: 50%;
  background: none;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 30px;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(165, 89, 236, 0.8);
  border-radius: 20px;
}
